footer {
  margin: 2rem auto;
  // position: relative;
  // bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  div {
    a {
      margin-left: 2rem;
    }
  }
  a:hover {
    color: $-color4;
  }
  @media screen and (max: 700px) {
    display: block;
  }
}
