.products {
  section {
    ul {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin: 1rem;
      }
    }
  }
}
